In [1]:
import psycopg2 as pg
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.kernel_approximation import Nystroem, RBFSampler
# from sklearn import svm
from sklearn.svm import LinearSVC
%matplotlib inline

In [2]:
columns_business = [
'business_id',
# 'name',
# 'address',
#'city',
'state',
#'postal_code',
'latitude',
'longitude',
# 'stars',
'review_count',
'attributes_goodforkids',
#'categories',   further processing
'is_open',
# 'hours_monday',
# 'hours_tuesday',
# 'hours_wednesday',
# 'hours_thursday',
# 'hours_friday',
# 'hours_saturday',
# 'hours_sunday',
'attributes_restaurantsreservations',
# 'attributes_goodformeal',
# 'attributes_businessparking',
'attributes_caters',
'attributes_noiselevel',
'attributes_restaurantstableservice',
'attributes_restaurantstakeout',
'attributes_restaurantspricerange2',
'attributes_outdoorseating',
'attributes_bikeparking',
# 'attributes_ambience',
'attributes_hastv',
'attributes_wifi',
'attributes_alcohol',
'attributes_restaurantsattire',
'attributes_restaurantsgoodforgroups',
'attributes_restaurantsdelivery',
'attributes_businessacceptscreditcards',
'attributes_businessacceptsbitcoin',
#'attributes_byappointmentonly',
#'attributes_acceptsinsurance',
# 'attributes_music',
'attributes_goodfordancing',
'attributes_coatcheck',
'attributes_happyhour',
# 'attributes_bestnights',
'attributes_wheelchairaccessible',
'attributes_dogsallowed',
# 'attributes_byobcorkage',
'attributes_drivethru',
'attributes_smoking',
#'attributes_agesallowed',
#'attributes_hairspecializesin',
#'attributes_corkage',
#'attributes_byob',
#'attributes_dietaryrestrictions', further processing
#'attributes_open24hours',
#'attributes_restaurantscounterservice',
'restaurant',
'meanfunny',
'meanuseful',
'avgwordcount',
'maxwordcount',
'minwordcount',
'avgfunnywordcount',
'maxfunnywordcount',
'avgusefulwordcount',
'maxusefulwordcount',
'medianwordcount',
'upperquartilewordcount',
'lowerquartilewordcount',
'target']

In [3]:
list_as_string =', '.join(columns_business)

In [4]:
con = pg.connect(database="postgres", user="flatiron_user_1", password="K*%4t3VK0ab%gn", host="34.74.239.44", port="5432")
cur = con.cursor()

u_cutoff=87
l_cutoff=10

In [5]:

cur.execute(f"SELECT {list_as_string} FROM business WHERE restaurant IS true AND REVIEW_COUNT < {u_cutoff} AND REVIEW_COUNT > {l_cutoff}")
dataframe=cur.fetchall()

In [6]:
dataframe=pd.DataFrame(dataframe)
dataframe.columns=columns_business

In [7]:
dataframe.target.value_counts()

1    24234
0    13384
Name: target, dtype: int64

In [8]:
np.mean(dataframe.isnull(), axis=0)

business_id                              0.000000
state                                    0.000000
latitude                                 0.000000
longitude                                0.000000
review_count                             0.000000
attributes_goodforkids                   0.259743
is_open                                  0.000000
attributes_restaurantsreservations       0.268462
attributes_caters                        0.414482
attributes_noiselevel                    0.350843
attributes_restaurantstableservice       0.761391
attributes_restaurantstakeout            0.153357
attributes_restaurantspricerange2        0.050906
attributes_outdoorseating                0.218061
attributes_bikeparking                   0.213781
attributes_hastv                         0.290473
attributes_wifi                          0.318784
attributes_alcohol                       0.298474
attributes_restaurantsattire             0.314743
attributes_restaurantsgoodforgroups      0.239965
attributes_restaurantsdelivery           0.273034
attributes_businessacceptscreditcards    0.358100
attributes_businessacceptsbitcoin        0.945000
attributes_goodfordancing                0.939311
attributes_coatcheck                     0.955048
attributes_happyhour                     0.931203
attributes_wheelchairaccessible          0.862380
attributes_dogsallowed                   0.936201
attributes_drivethru                     0.952204
attributes_smoking                       0.957786
restaurant                               0.000000
meanfunny                                0.000027
meanuseful                               0.000027
avgwordcount                             0.000027
maxwordcount                             0.000027
minwordcount                             0.000027
avgfunnywordcount                        0.081185
maxfunnywordcount                        0.081185
avgusefulwordcount                       0.014488
maxusefulwordcount                       0.014488
medianwordcount                          0.000027
upperquartilewordcount                   0.000027
lowerquartilewordcount                   0.000027
target                                   0.000000
dtype: float64

In [9]:
dataframe.nunique()

business_id                              37618
state                                       11
latitude                                 34993
longitude                                34729
review_count                                76
attributes_goodforkids                       3
is_open                                      2
attributes_restaurantsreservations           3
attributes_caters                            3
attributes_noiselevel                        9
attributes_restaurantstableservice           3
attributes_restaurantstakeout                3
attributes_restaurantspricerange2            5
attributes_outdoorseating                    3
attributes_bikeparking                       3
attributes_hastv                             3
attributes_wifi                              7
attributes_alcohol                           7
attributes_restaurantsattire                 7
attributes_restaurantsgoodforgroups          3
attributes_restaurantsdelivery               3
attributes_businessacceptscreditcards        3
attributes_businessacceptsbitcoin            2
attributes_goodfordancing                    3
attributes_coatcheck                         3
attributes_happyhour                         3
attributes_wheelchairaccessible              3
attributes_dogsallowed                       3
attributes_drivethru                         2
attributes_smoking                           7
restaurant                                   1
meanfunny                                 3300
meanuseful                                5146
avgwordcount                               268
maxwordcount                               967
minwordcount                                95
avgfunnywordcount                          565
maxfunnywordcount                          938
avgusefulwordcount                         410
maxusefulwordcount                         913
medianwordcount                            435
upperquartilewordcount                    1203
lowerquartilewordcount                     513
target                                       2
dtype: int64

In [10]:
dataframe.attributes_restaurantsreservations.value_counts()
dataframe.attributes_smoking.value_counts()

u'no'         762
u'outdoor'    636
u'yes'        173
'no'            8
None            4
'outdoor'       4
'yes'           1
Name: attributes_smoking, dtype: int64

In [11]:
list_to_strip=[
    'attributes_alcohol',
    'attributes_restaurantsattire',
    'attributes_wifi',
    'attributes_smoking',
    'attributes_noiselevel',
              ]
dataframe2=dataframe.copy()
for col in list_to_strip:
    dataframe2[col]=dataframe2[col].str.strip("u\'")

In [12]:
for col in columns_business:
    dataframe2[col]=dataframe2[col].where(dataframe2[col]!='None')
    dataframe2[col]=dataframe2[col].where(dataframe2[col]!='none')

/home/will/anaconda3/envs/learn-env/lib/python3.6/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [13]:
dataframe2.attributes_restaurantstakeout.nunique(dropna=False)

4

In [14]:
dataframe2.attributes_restaurantstakeout.value_counts(dropna=False)

True     29382
NaN       5786
False     2450
Name: attributes_restaurantstakeout, dtype: int64

In [15]:
dataframe2.head()

,business_id,state,latitude,longitude,review_count,attributes_goodforkids,is_open,attributes_restaurantsreservations,attributes_caters,attributes_noiselevel,...,maxwordcount,minwordcount,avgfunnywordcount,maxfunnywordcount,avgusefulwordcount,maxusefulwordcount,medianwordcount,upperquartilewordcount,lowerquartilewordcount,target
0,8i6BaUxYwaewz4nj9R2ppQ,AZ,33.4960409,-112.0205662,51,None,1,None,None,None,...,308.0,13.0,69.0,161.0,106.0,308.0,57.5,83.25,38.0,1
1,igo--IP_NBWIO_yGtBJ0Eg,ON,43.764552,-79.4100088,11,None,1,None,None,None,...,369.0,14.0,50.0,51.0,72.0,129.0,109.0,138.00,50.0,1
2,kzh7iDNd8Qwio2w3biAHGw,NV,36.1214517,-115.1696112,22,False,1,None,None,None,...,770.0,110.0,248.0,514.0,309.0,770.0,224.5,410.50,172.5,1
3,q6dOVAsEZ0_JeVcuq1htIw,OH,41.3798611,-82.2227923,19,None,1,None,None,None,...,232.0,14.0,121.0,218.0,57.0,57.0,58.5,96.50,44.5,1
4,dGrZ45A7XZ-fjfl4JrG77A,AB,51.0958026,-114.14072,11,None,1,None,None,None,...,289.0,33.0,108.0,133.0,190.0,260.0,155.0,199.50,83.0,1

In [16]:
cols = dataframe.columns
cols = cols.drop(['review_count',
                  'restaurant',
                  'latitude',
                  'longitude',
                  'business_id',
                  'meanfunny',
                  'meanuseful',
                  'avgwordcount',
                  'maxwordcount',
                  'minwordcount',
                  'avgfunnywordcount',
                  'maxfunnywordcount',
                  'avgusefulwordcount',
                  'maxusefulwordcount',
                  'medianwordcount',
                  'upperquartilewordcount',
                  'lowerquartilewordcount',
                  'target'])

In [17]:

dataframe2.latitude=dataframe2.latitude.astype(float)
dataframe2.longitude=dataframe2.longitude.astype(float)

In [18]:
categorical_features=cols
categorical_features

Index(['state', 'attributes_goodforkids', 'is_open',
       'attributes_restaurantsreservations', 'attributes_caters',
       'attributes_noiselevel', 'attributes_restaurantstableservice',
       'attributes_restaurantstakeout', 'attributes_restaurantspricerange2',
       'attributes_outdoorseating', 'attributes_bikeparking',
       'attributes_hastv', 'attributes_wifi', 'attributes_alcohol',
       'attributes_restaurantsattire', 'attributes_restaurantsgoodforgroups',
       'attributes_restaurantsdelivery',
       'attributes_businessacceptscreditcards',
       'attributes_businessacceptsbitcoin', 'attributes_goodfordancing',
       'attributes_coatcheck', 'attributes_happyhour',
       'attributes_wheelchairaccessible', 'attributes_dogsallowed',
       'attributes_drivethru', 'attributes_smoking'],
      dtype='object')

In [19]:
numerical_features=[
    'review_count',
    'latitude',
    'longitude',
    'meanfunny',
    'meanuseful',
    'avgwordcount',
    'maxwordcount',
    'minwordcount',
    'avgfunnywordcount',
    'maxfunnywordcount',
    'avgusefulwordcount',
    'maxusefulwordcount',
    'medianwordcount',
    'upperquartilewordcount',
    'lowerquartilewordcount',
                   ]

In [20]:
preprocess = make_column_transformer(
    (StandardScaler(), numerical_features),
    (OneHotEncoder(drop='first'), categorical_features))

In [21]:
dataframe2[categorical_features]=dataframe2[categorical_features].fillna(9)
dataframe2[numerical_features]=dataframe2[numerical_features].fillna(0)

In [22]:
# preprocess.fit_transform(dataframe).toarray()[:5]
dataframe2[categorical_features]=dataframe2[categorical_features].astype(str)

In [23]:
dataframe2.isna().sum()

business_id                              0
state                                    0
latitude                                 0
longitude                                0
review_count                             0
attributes_goodforkids                   0
is_open                                  0
attributes_restaurantsreservations       0
attributes_caters                        0
attributes_noiselevel                    0
attributes_restaurantstableservice       0
attributes_restaurantstakeout            0
attributes_restaurantspricerange2        0
attributes_outdoorseating                0
attributes_bikeparking                   0
attributes_hastv                         0
attributes_wifi                          0
attributes_alcohol                       0
attributes_restaurantsattire             0
attributes_restaurantsgoodforgroups      0
attributes_restaurantsdelivery           0
attributes_businessacceptscreditcards    0
attributes_businessacceptsbitcoin        0
attributes_goodfordancing                0
attributes_coatcheck                     0
attributes_happyhour                     0
attributes_wheelchairaccessible          0
attributes_dogsallowed                   0
attributes_drivethru                     0
attributes_smoking                       0
restaurant                               0
meanfunny                                0
meanuseful                               0
avgwordcount                             0
maxwordcount                             0
minwordcount                             0
avgfunnywordcount                        0
maxfunnywordcount                        0
avgusefulwordcount                       0
maxusefulwordcount                       0
medianwordcount                          0
upperquartilewordcount                   0
lowerquartilewordcount                   0
target                                   0
dtype: int64

In [24]:
ohe=OneHotEncoder(drop='first')
ohe.fit(dataframe2[categorical_features])

OneHotEncoder(categorical_features=None, categories=None, drop='first',
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

In [25]:
ohe.transform(dataframe2[categorical_features])

<37618x66 sparse matrix of type '<class 'numpy.float64'>'
	with 479656 stored elements in Compressed Sparse Row format>

In [26]:
dataframe2[categorical_features].head()

,state,attributes_goodforkids,is_open,attributes_restaurantsreservations,attributes_caters,attributes_noiselevel,attributes_restaurantstableservice,attributes_restaurantstakeout,attributes_restaurantspricerange2,attributes_outdoorseating,...,attributes_restaurantsdelivery,attributes_businessacceptscreditcards,attributes_businessacceptsbitcoin,attributes_goodfordancing,attributes_coatcheck,attributes_happyhour,attributes_wheelchairaccessible,attributes_dogsallowed,attributes_drivethru,attributes_smoking
0,AZ,9,1,9,9,9,9,9,1,9,...,9,True,9,9,9,9,True,9,9,9
1,ON,9,1,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2,NV,False,1,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
3,OH,9,1,9,9,9,9,9,9,9,...,9,True,9,9,9,9,9,9,9,9
4,AB,9,1,9,9,9,9,9,3,9,...,9,9,9,9,9,9,9,9,9,9

In [27]:

# preprocess.fit_transform(dataframe2)

In [28]:
pipe = Pipeline([('scl', preprocess),
                 ('clf', RandomForestClassifier(oob_score=True,n_jobs=-1,verbose=1))])

param_range = [20,25,30]

grid_params_rf = [{'clf__criterion': ['gini'],
                   'clf__n_estimators': [300,500],
                   'clf__min_samples_leaf': [10,13,15,17],
                   'clf__max_depth': [20,25,30],
                   #'clf__min_samples_split': [1,100]
                   'clf__max_features' : ['log2','sqrt']
                   
                   }]

In [29]:
# pipe = Pipeline([('ct', preprocess),
#                  ('clf', LogisticRegression())])

# grid_params_lr = [{'clf__penalty': ['l1', 'l2'],
#                    'clf__C': [.001,.01,.1,1,10,100,1000],
#                   }]

In [30]:
pipe_svm = Pipeline([('ct', preprocess),
                    ("feature_map", Nystroem(gamma=.2)),
                    ('clf', LinearSVC(verbose=1, max_iter=15000, dual=False))])

param_range = [3000,5000,7000]

grid_params_svm = [{'feature_map__gamma' : [.005,.01,.1],
                    'clf__C': param_range,
                    'clf__penalty': ['l1']
                   }]

In [31]:
pipe_svm = Pipeline([('ct', preprocess),
                    ("feature_map", RBFSampler()),
                    ('clf', LinearSVC(verbose=1, max_iter=15000, dual=False))])

param_range = [1000,2000,3000]

grid_params_svm = [{'feature_map__gamma' : [.005,.01,.02],
                    'clf__C': param_range,
                    'clf__penalty': ['l1']
                   }]

In [32]:
gridsearch = GridSearchCV(estimator=pipe,
			param_grid=grid_params_rf,
			scoring='accuracy',
            return_train_score=True,
			cv=5)

In [33]:

data=dataframe2.drop(['business_id','restaurant','target'],axis=1)
target=dataframe2.target
data.columns

Index(['state', 'latitude', 'longitude', 'review_count',
       'attributes_goodforkids', 'is_open',
       'attributes_restaurantsreservations', 'attributes_caters',
       'attributes_noiselevel', 'attributes_restaurantstableservice',
       'attributes_restaurantstakeout', 'attributes_restaurantspricerange2',
       'attributes_outdoorseating', 'attributes_bikeparking',
       'attributes_hastv', 'attributes_wifi', 'attributes_alcohol',
       'attributes_restaurantsattire', 'attributes_restaurantsgoodforgroups',
       'attributes_restaurantsdelivery',
       'attributes_businessacceptscreditcards',
       'attributes_businessacceptsbitcoin', 'attributes_goodfordancing',
       'attributes_coatcheck', 'attributes_happyhour',
       'attributes_wheelchairaccessible', 'attributes_dogsallowed',
       'attributes_drivethru', 'attributes_smoking', 'meanfunny', 'meanuseful',
       'avgwordcount', 'maxwordcount', 'minwordcount', 'avgfunnywordcount',
       'maxfunnywordcount', 'avgusefulwordcount', 'maxusefulwordcount',
       'medianwordcount', 'upperquartilewordcount', 'lowerquartilewordcount'],
      dtype='object')

In [34]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=50)

In [35]:
#gridsearch.fit(X_train, y_train);

In [36]:
# cross_val = pd.DataFrame(gridsearch.cv_results_)
# cross_val2 = cross_val.sort_values('rank_test_score')
#cross_val2.shape

NameError: name 'cross_val2' is not defined

In [ ]:
cross_val2.to_pickle('Random_forest_final_CV')

In [40]:
cross_val3=pd.read_pickle('Random_forest_final_CV')
cross_val3.head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_clf__criterion,param_clf__max_depth,param_clf__max_features,param_clf__min_samples_leaf,param_clf__n_estimators,params,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
40,6.973171,0.058901,0.271988,0.001037,gini,30,sqrt,10,300,"{'clf__criterion': 'gini', 'clf__max_depth': 3...",...,0.717585,0.003375,1,0.833264,0.834884,0.833984,0.833195,0.833361,0.833738,0.000638
8,7.960148,0.626817,0.326094,0.052574,gini,20,sqrt,10,300,"{'clf__criterion': 'gini', 'clf__max_depth': 2...",...,0.716721,0.002452,2,0.829899,0.830398,0.830952,0.831492,0.830329,0.830614,0.000552
25,11.770920,0.524772,0.370301,0.001633,gini,25,sqrt,10,500,"{'clf__criterion': 'gini', 'clf__max_depth': 2...",...,0.716621,0.002780,3,0.831021,0.835133,0.832696,0.834607,0.833569,0.833405,0.001459
41,11.293772,0.071876,0.369215,0.000919,gini,30,sqrt,10,500,"{'clf__criterion': 'gini', 'clf__max_depth': 3...",...,0.716588,0.003250,4,0.831810,0.833887,0.834109,0.833776,0.833153,0.833347,0.000831
9,13.301188,1.061143,0.405333,0.036187,gini,20,sqrt,10,500,"{'clf__criterion': 'gini', 'clf__max_depth': 2...",...,0.716522,0.003647,5,0.829899,0.832143,0.830495,0.831284,0.829997,0.830764,0.000846