In [5]:
# !pip install psycopg2

In [23]:
import pandas as pd
import numpy as np
import psycopg2 as pg
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

In [24]:
import sql_server_connection
database, user, password, host, port = sql_server_connection.connection()

try:
    con.close()
finally:
    con = pg.connect(database=database, user=user, password=password, host=host, port=port)
    cur = con.cursor()

In [17]:
# cur.execute(f"SELECT REVIEW_COUNT FROM BUSINESS WHERE restaurant IS true")

# Pipe data into Pandas

In [25]:
cur.execute(f"SELECT REVIEW_COUNT FROM BUSINESS WHERE restaurant IS true")

In [36]:
columns_business = [
# 'business_id',
# 'name',
# 'address',
# 'city',
'state',
# 'postal_code',
# 'latitude',
# 'longitude',
# 'stars',
# 'review_count',
'attributes_goodforkids',
# 'categories',
'is_open',
# 'hours_monday',
# 'hours_tuesday',
# 'hours_wednesday',
# 'hours_thursday',
# 'hours_friday',
# 'hours_saturday',
# 'hours_sunday',
'attributes_restaurantsreservations',
# 'attributes_goodformeal',
# 'attributes_businessparking',
'attributes_caters',
'attributes_noiselevel',
'attributes_restaurantstableservice',
'attributes_restaurantstakeout',
'attributes_restaurantspricerange2',
'attributes_outdoorseating',
'attributes_bikeparking',
# 'attributes_ambience',
'attributes_hastv',
'attributes_wifi',
'attributes_alcohol',
'attributes_restaurantsattire',
'attributes_restaurantsgoodforgroups',
'attributes_restaurantsdelivery',
'attributes_businessacceptscreditcards',
'attributes_businessacceptsbitcoin',
'attributes_byappointmentonly',
'attributes_acceptsinsurance',
# 'attributes_music',
'attributes_goodfordancing',
'attributes_coatcheck',
'attributes_happyhour',
# 'attributes_bestnights',
'attributes_wheelchairaccessible',
'attributes_dogsallowed',
'attributes_byobcorkage',
'attributes_drivethru',
'attributes_smoking',
'attributes_agesallowed',
# 'attributes_hairspecializesin',
'attributes_corkage',
'attributes_byob',
# 'attributes_dietaryrestrictions',
'attributes_open24hours',
'attributes_restaurantscounterservice',
'restaurant']

In [ ]:
feature_values = []
for column in columns_business:
    cur.execute("""
    SELECT attributes_goodforkids, count(*)
    FROM business
    WHERE restaurant IS TRUE
    GROUP BY attributes_goodforkids;
            """)
    results = cur.fetchall()

    values = {
        'type':column,
        'value': result[0]
        'count_value': result[1]
    }

In [ ]:
[
    {
        'type': column,
    }
    for column
    in columns_business[0:3]
]

In [28]:
cur.execute("""
    SELECT attributes_goodforkids, count(*)
    FROM business
    WHERE restaurant IS TRUE
    GROUP BY attributes_goodforkids;
            """)

In [29]:
test = cur.fetchall()

In [35]:
test[0]

(None, 29065)

# exploration